### 1. Dane kategoryczne - wizualizjca

Tło: \
Posiadasz dane z lodziarni, która działa w Warszawie, Krakowie i Gdańsku.

Dane: \
W Warszawie sprzedano 12 327 lodów w Krakowie 17 129, a w Gdańsku 19 923.

Zadanie: \
Zaprezentuj dane w postaci tabeli rozkładu częstości, wykresie słupkowym, wykresie kołowym, digramie Pareto.

In [1]:
# Tabela rozkładu częstości

In [2]:
# Wykres słupkowy

In [3]:
# Wykres kołowy

In [4]:
# Diagram Pareto